@media(max-width: 1150px ){
    .container{
        width: 950px;
    }
}

@media(max-width: 1024px ){
    .container{
        width: 800px;
    }
    .sobre-web-design figcaption img{
        width: 600px;
    }
}

@media(max-width: 915px ){
    header section img{
        width: 90%;
    }

    body{
        background-position: left top;
        background-color: #b1f4ff;
    }

    .container{
        width: 700px;
    }
    
    .row{
        flex-direction: column;
    }

    header nav{
        margin: 30px 0; 
    }

    .sobre-web-design article{
        width: 100%;
    }

    .sobre-web-design figcaption img{
        width: 100%;
        margin: 30px 0 0 0;
    }

    footer .row{
        flex-direction: row;
        justify-content: center;
    }
    
}

@media(max-width: 665px ){
    .container {
        width: 400px;
    }

    header section img{
        width: 100%;
    }
}

@media(max-width: 450px ){
    .container {
        width: 290px;
    }

    header nav{
        background: #FFF;
       width: 100%;
       padding: 10px 0 20px;
       box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
    }

    header nav ul {
        display: flex;
        flex-direction: column;
    }

    header nav ul li{
        margin: 5px;
    }

}